.hover-glow {
	will-change: filter;
	/* Make the glowing filter happen gradually */
	transition: filter 300ms;
}
/* Give the logo a background glow when hovering over it */
.hover-glow:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

/* Make the React logo spin */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.spin {
		animation: spin infinite 20s linear;
	}
}
