name: CD
# Deploys the website whenever changes are merged to main

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions: {}

jobs:
  checks:
    name: Checks

    if: github.event_name == 'push'

    runs-on: ubuntu-latest

    permissions:
      checks: read # Required for lewagon/wait-on-check-action

    steps:
      - name: Wait for checks to pass
        uses: lewagon/wait-on-check-action@74049309dfeff245fe8009a0137eacf28136cb3c # v1.5.0
        with:
          ref: ${{ github.ref }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          running-workflow-name: Checks
          allowed-conclusions: success

  deploy:
    name: Deploy

    needs: checks

    runs-on: ubuntu-latest

    environment:
      name: production
      url: ${{ vars.WEBSITE_URL }}

    permissions:
      contents: read # Required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm clean-install

      - name: Build
        run: npm run build

      - name: Deploy
        uses: appleboy/scp-action@ff85246acaad7bdce478db94a363cd2bf7c90345 # v1.0.0
        with:
          host: ${{ secrets.SCP_HOST }}
          username: ${{ secrets.SCP_USERNAME }}
          password: ${{ secrets.SCP_PASSWORD }}
          source: dist/*
          strip_components: 1
          target: ${{ secrets.SCP_TARGET }}
          rm: true
